[2014-05-02 14:23] manuel-schoebel opened #5 "Top Navigation Content too big"
Hi Amir,

e.g. you have a longer email, like I do, then the top navigation content is to big and is shown in 2 lines. Especially if you make your window smaller the responsive view shows two lines in the top menu.

For that I would suggest:
- Put "Change Requests" and "My Profile" into the dropdown on the upper right
- Make the char count of the dropdown-link (your email) max X chars (eg "mail@man

[2014-05-02 15:36] manuel-schoebel opened #6 "Lesson title is empty if you come from a quiz"
If you are in edit mode of your lecture and you are on the quiz tab and you change then to the next lecture on the left-menu, the title of the lecture does not show up. If you would then click update, the lecture does not have a title anymore.

You will get a pull request for this, soon! :)

[2014-05-06 23:10] Azeirah opened #8 "Completed courses should be remembered as complete"
After completing a course, it should be marked as complete. And maybe store it a "completed courses" section of your profile or something. It's rather dull at the moment.

[2014-05-06 23:13] Azeirah opened #9 "Answers to a course's questions should be remembered"
After you answer a question, you'd normally get a "this is correct" or "this is incorrect" popup.

This should be remembered. It's probably a good idea show a how you did as (crappily) illustrated in this image

![](http://i.imgur.com/hn88ZnU.png)

[2014-05-06 23:25] Azeirah opened #10 "Deleting courses is too easy"
Simply pressing the delete button and pressing ok is too easy to delete a course. I see people accidentally deleting courses.

I see two solutions for this:

1: Use the Github method, you have to type DELETE in and then press a big red I KNOW WHAT I'M DOING BUTTON. To confirm the deletion of a course.

2: Simply let users delete them, but delay the deletion by a few days or maybe a week, so they h

[2014-05-07 08:12] #5 closed, assigned to nobody

[2014-08-04 14:25] samuelandert opened #12 "Uncaught ReferenceError: Template is not defined"
When I try to start up the meteor application, the browser won't show anything.
Looking at the browser console you get this:
![bildschirmfoto 2014-08-04 um 16 23 55](https://cloud.githubusercontent.com/assets/747161/3798283/1ef98708-1be3-11e4-8bfa-607fa03cf4e5.png)

[2014-08-04 15:44] Samsemilio opened #13 "Problem with sock.js, when updating to Meteor 0.8.3"
<deprecated>
[code]

[2014-08-04 16:07] #12 closed, assigned to nobody

[2014-10-29 03:20] dcsan opened #19 "adding more structured data to a course"
if i want to fox example add a list of vocabulary words to a course, do you anticipate a way to manage this type of more structured data?

[2014-10-29 03:21] dcsan opened #20 "import / export of courses"
is there a spec for the format of a course somewhere?
or an example JSON dump?

i'm interested in interpo with bring content in and out of the platform

[2014-10-29 03:22] dcsan opened #21 "reordering"
can sections or lessons be reordered at all?
where would you suggest looking to add this feature?

[2014-10-30 22:40] dcsan opened #23 "porting to meteor 1.0"
this is a very cool project, but currently its based on an old meteor.
I'd like to help bring it up to 1.0, but there are [quite a few custom packages](https://github.com/Crowducate/crowducate.me/blob/master/.meteor/packages) that haven't been brought up to/don't exist for 1.0

@DerMambo if you could suggest the best way to migrate that would be very helpful..

we could just add whatever minimum i

[2014-11-02 19:27] dcsan opened #25 "port basic-auth"
ref #23

## basic-auth
https://github.com/DerMambo/basic-auth
a small package, but I'm not sure what it does?
https://github.com/DerMambo/basic-auth/blob/master/basic_auth.js
first line has a `  ;   `  so maybe its patching onto some other code?

`    WebApp.connectHandlers.use(connect.basicAuth(Meteor.settings.basicAuth.name, Meteor.settings.basicAuth.password));  `

maybe this is some app specif

[2014-11-02 19:29] dcsan opened #26 "port mambo-authenticate"
ref #23

## mambo-authenticate
https://github.com/DerMambo/mambo-authenticate
-> this is an old fork of an old package accounts-entry
not sure why this was created, I guess something lacking in the differential package.
I have had problems with the differential  accounts-entry that this is based on, and I prefer to use [Splendido's packages](https://github.com/splendido/accounts-templates-core)
po

[2014-11-02 19:30] dcsan opened #27 "port mambo-form"
ref #23

## mambo-form
https://github.com/DerMambo/mambo-forms
not maintained but it's a simple package, so we could just fork + update the package.js to 1.0
at some point in the future maybe better to convert to [aldeed:autoform](https://github.com/aldeed/meteor-autoform) ?
esp if we start building many more forms, or adding custom formats.

TODO:
- short-term just convert the package to 1.0
- lo

[2014-11-02 19:33] dcsan opened #28 "port ms-markdown"
ref #23

## ms markdown
not maintained
https://github.com/DerMambo/ms-markdown-editor
this relies on ace-embed, which hasn't been ported to 1.0 yet [although there is a workaround](https://github.com/stuartfenton/meteor-ace-embed/issues/2).
I have a fork of reactive-ace, we could maybe use instead, but this is a complex package
and so ms-markdown would have to be changed too.
https://github.com/dc

[2014-11-02 19:35] dcsan opened #29 "port ms-validator"
ref #23

## ms-validator
seems a simple enough package, can just port to 1.0
https://github.com/DerMambo/ms-validator/blob/master/ms_validator.coffee
long term forms with autoform and SimpleSchema seems more well documented approach

[2014-11-10 21:30] dcsan opened #30 "flatten external packages into this repo"
given many of ms packages are not maintained, I would suggest to put them right into the app/packages dir.

my removing the .git files and directory, git for the app will NOT treat this as a separate git repo which will make it a lot easier to commit changes - rather than dealing with multiple subrepos all with different permissions.

https://github.com/Crowducate/crowducate.me/tree/port-to-Meteor

[2015-01-09 18:10] brylie opened #31 "Sync course materials with Github"
As an educator,
I would like to sync my Crowducate course materials on Git/Github repositories
So that I can have them under revision control

"Syncing source material for the courses to GH seems like it would be very useful for contributors." -- Joe Corneli

[2015-01-09 19:47] Rahbaran commented on #31
Sounds good to me. Maybe you'd  like to add this to the [feedback forum](http://crowducate.uservoice.com/forums/250101-ideas-questions-bugs) where others can also vote on fresh ideas.

[2015-01-10 06:35] brylie commented on #31
Sounds good.

[2015-01-20 11:32] brylie opened #32 "Improve the multiple choice quiz"
User story
------------
As a creator,
I would like to add an arbitrary number of options to course quizzes, with multiple correct options possible
So that I quizzes can contain desirable complexity

Specific details
------------------
* Creator should choose how many possible answers to post
   * Designate multiple 'correct' answers

[2015-01-20 11:34] brylie opened #33 "Change request feedback"
User story
-------------
As a creator of course materials
I would like to comment on change requests
So that other users understand why they were accepted or rejected, and/or what to change

[2015-02-18 09:30] Rahbaran commented on #23
We decided the best approach is to write Crowducate from scratch: https://github.com/meteorcrowd/crowducate-next When the new version is ready (won't take long, if the process continues), the issues reg. porting to 1.0 will be closed.

[2015-03-03 19:23] mhshakouri opened #36 "Internationalization"
I think internationalization is great to enable users establish free online schools for their countries.

[2015-03-03 20:32] Rahbaran commented on #36
I fully agree @mhshakouri . What particular steps for internationalization are in your mind (e.g. support for different alphabets,  having the main texts of the homepage available in different languages, etc. etc.)?

[2015-03-03 21:29] mhshakouri commented on #36
well since the source is free, first you've to make sure that if the users like me and you , you a pro, me a beginner meteorite!, use it, they give free services to others with such tools.
The same like you, I'm from Iran, I really wanted to contact you too. I've a plan in mind, of giving a service to people in here with tools like your crowducate and weworkmeteor core and also telesc.pe , I neede

[2015-03-03 22:25] Rahbaran commented on #36
Yes, you are right. I think you mean this part: https://hackpad.com/Crowducate-Roadmap-Ideas-ATAX9ZTodoe#:h=Language-support-%28i18n,-l10n%29

If you have general questions about crowducate, you also contant me (choose your favourite option from http://amir-rahbaran.com/ :) )

Also any feedback on many more hackpads is appreciated: http://crowducate.hackpad.com/

[2015-03-04 00:46] dcsan commented on #36
which i18n library are you thinking to use?

[2015-03-04 01:15] mhshakouri commented on #36
I'll contact you soon Amir,
at least I can say I need too.
I'm not like you guys , pro's, but I can suggest tap:i18n , it felt great while I saw the structure beyond telesc.pe and the way they used tap:i18n

[2015-03-04 08:14] brylie commented on #36
[tap:i18n](https://github.com/TAPevents/tap-i18n) is worth considering. We are [planning](https://github.com/Crowducate/crowducate-next/issues/18) to start building the i18n foundation in [crowducate-next](https://github.com/Crowducate/crowducate-next) during the next sprint (starting Monday, March 9th.)

[2015-03-13 08:52] Rahbaran opened #37 "test issue"
_From @Rahbaran on March 13, 2015 8:51_

I'll delete it soon.
Testing https://github-issue-mover.appspot.com/

_Copied from original issue: Crowducate/crowducate-next#77_

[2015-03-13 08:52] Rahbaran commented on #37
+ comment here

[2015-03-22 22:04] #25 closed

[2015-03-22 22:04] #26 closed

[2015-03-22 22:04] #27 closed

[2015-03-22 22:04] #28 closed

[2015-03-22 22:04] #29 closed

[2015-03-22 22:04] #30 closed

[2015-05-25 17:43] danielfc opened #39 "[Security issues] Remove standard packages"
Hey guys,

The user list is still exposed via _Developer tools_:

_Meteor.users.find().fetch()_

I can see, for example, that you have 116 users:

[code]

[2015-05-25 19:23] Rahbaran commented on #39
@danielfc: thx for this important issue. we will fix that soon. however, this branch is a bit out-of-date. we're currently working on a new branch: https://github.com/Crowducate/crowducate-next

sorry for the confusion (i.e., 2 repos). we'll merge them soon. feel free to give more feedback or ask anything reg. the two branches.

[2015-05-30 11:06] sbe opened #40 "Crowducate defaults to German"
Should default to English.

Can someone check if he can reproduce?

[2015-05-30 21:42] #37 closed

[2015-06-01 13:18] Rahbaran commented on #40
hm ... when I'm in the dev branch I even don't see the German option at all.

[2015-06-01 14:36] sbe commented on #40
same here!

Am Montag, 1. Juni 2015 schrieb Amir Rahbaran :

[2015-06-07 13:18] Rahbaran commented on #40
hm ... maybe @brylie  knows the answer?

[2015-06-08 06:21] brylie commented on #40
I think the localization package detects your browser default language and renders the corresponding translation, if available.

[2015-06-08 08:22] Rahbaran commented on #40
As mentioned, it was not even possible to choose German. However, @sbe pointed to this file: https://github.com/Crowducate/crowducate-platform/blob/develop/client/templates/layouts/header/languageSelection/languageSelection.html

Changed the file, tested and now it works.

[2015-06-08 08:22] #40 closed

[2015-06-08 08:23] brylie commented on #39
We still need to try and resolve this on the production server, as there are real user signups. Who manages the deployment?

[2015-06-11 09:44] Rahbaran commented on #39
@brylie: currently, it's on a server from the @DerMambo. However, poor @DerMambo has been waiting for months to get rid of his responsibility ;)

[2015-06-11 12:26] brylie opened #42 "Migrate issues from crowducate-next issue queue"
Since we have merged the crowducate-next sourcecode with this repository, we need to also migrate the issues.

* [ ] Decide how to migrate issues from crowducate-next issue queue
* [ ] Migrate crowducate-next issues into crowducate-platform issue queue

[2015-06-11 12:28] brylie opened #43 "Merge the repos part I"
_From @Rahbaran on April 10, 2015 13:10_

There are two main steps to merge the repos. More details here: https://crowducate.hackpad.com/Merging-the-two-repos-mvr1gHyMGF1

_Copied from original issue: Crowducate/crowducate-next#139_

[2015-06-11 12:28] brylie commented on #43
_From @Rahbaran on April 10, 2015 13:15_

@brylie: Do you think you can do part 1 (i.e., the merge "proper")? I assume your git/github skills are much much better than mine ;)

[2015-06-11 12:28] brylie commented on #43
Yes, I would like to consider code provenance a bit, after some
reflection. Would you consider with me the possibility of donating the
code to, and working on it under, a non-profit organization such as the
Open Knowledge Foundation? It would still have the same freedoms, but
might save us some politics.

In service,
Brylie Christopher Oxley

On 10.04.2015 16:15, Amir Rahbaran wrote:

[2015-06-11 12:28] brylie commented on #43
E.g. we can become part of the [Open Knowledge Network](https://okfn.org/get-involved/network-projects/).

[2015-06-11 12:28] brylie commented on #43
The main reason I suggest OKFN, is they have an [Open Education Working Group](http://education.okfn.org/).

[2015-06-11 12:29] brylie opened #44 "Routes for Courses broken?"
_From @Rahbaran on February 5, 2015 15:55_

Not sure if you're aware (as you're restructuring). Anyway, I get this:
![screenshot 2015-02-05 16 55 02](https://cloud.githubusercontent.com/assets/3035315/6063470/d432f888-ad57-11e4-9814-3353db4a2106.png)

_Copied from original issue: Crowducate/crowducate-next#1_

[2015-06-11 12:29] brylie commented on #44
Thanks for the feedback. I have wired up the route in a subsequent commit. We are prototyping fast and breaking things often, so the functionality is not fully fleshed out.

[2015-06-11 12:29] brylie commented on #44
_From @Rahbaran on February 6, 2015 8:42_

ah ok, thought so! :)

[2015-06-11 12:29] brylie commented on #44
I just pushed the most recent work, which includes the course page route.

The course page is coming together as I merge templates from Illya's (@nizyev) static mockups. You can see Illya's static mockups by visiting `localhost:3000/singleresourcepage`

[2015-06-11 12:29] brylie commented on #44
_From @Rahbaran on February 6, 2015 15:17_

fabulous progress. very impressed.

[2015-06-11 12:29] brylie commented on #44
_From @nizyev on February 6, 2015 15:36_

Yeah, haven't had enough time to finish mockups, hope will finish them by next week.

[2015-06-11 12:29] brylie opened #45 "Course card - tags text improvements"
_From @brylie on February 23, 2015 10:10_

Edit course tag template and styles to improve rendering of tags on course cards.

Documentation
-------------------
Please document your design decisions/thinking on the [Course Card design document](https://crowducate.hackpad.com/Course-Cards-6KflJlxtX9o).

_Copied from original issue: Crowducate/crowducate-next#7_

[2015-06-11 12:29] brylie commented on #45
Here is the basic example we worked out:

[code]

**truncated-keywords.js**:
[code]

[2015-06-11 12:29] brylie commented on #45
While this works on a clean Meteor project, there is something about our project that is not working correctly. This could be due to some incompatible, or older, package that has been added.

**Note:** I did get an error saying "First argument must be a function, to be called on the rest of the arguments". We are passing two arguments keywords=Array and truncate=Number.

[2015-06-11 12:29] brylie commented on #45
I found a [related post on StackOverflow](http://stackoverflow.com/questions/24478034/passing-parameters-in-spacebars-template-yields-first-argument-must-be-a-functi).

[2015-06-11 12:29] brylie commented on #45
OK, I just got this to work. I have uploaded a working example to the [d/truncate-tags](https://github.com/meteorcrowd/crowducate-next/compare/d/truncate-tags) branch.

[2015-06-11 12:30] brylie opened #46 "Create "how-to use Crowducate" course"
_From @brylie on February 24, 2015 14:6_

Create a course teaching people how to use the Crowducate platform.

_Copied from original issue: Crowducate/crowducate-next#14_

[2015-06-11 12:30] brylie opened #47 "Sidebar lesson title inline edit not closing when clicking submit button."
_From @brylie on February 23, 2015 16:22_

Steps to reproduce
-------------------------
1. When viewing a course page in edit mode, click a title in the sidebar.
2. Click the green checkmark button (submit)

Observed behavior
-------------------------
The inline edit dialogue stays open.

Expected behavior
-------------------------
The inline edit dialogue would close. This is the behavior when cl

[2015-06-11 12:30] brylie opened #48 "Recruit beta testers"
_From @brylie on February 24, 2015 14:7_

Find multiple participants for the beta test.

_Copied from original issue: Crowducate/crowducate-next#15_

[2015-06-11 12:31] brylie opened #49 "Course progress indicator"
_From @brylie on February 24, 2015 14:8_

Track which course lessons a learner has completed. E.g. 'Mark as done'. Trust the learner input, as this is a self-select, self-motivated learning environment.

Display to the user their prigress through the course, indicating which lessons they have marked as complete.

_Copied from original issue: Crowducate/crowducate-next#16_

[2015-06-11 12:31] brylie opened #50 "Create quiz functionality"
_From @brylie on February 24, 2015 14:11_

Consider how to allow teachers to create simple quizzes. The quiz functionality should be distinct from adding a lesson, and can be shown in-sequence within a course.

Initially, support multiple-choice quizzes.

_Copied from original issue: Crowducate/crowducate-next#19_

[2015-06-11 12:31] brylie opened #51 "Create promotional video"
_From @brylie on March 23, 2015 8:46_

Create a basic promotional video for use on the website and possibly in crowdfunding platforms.

[Planning document](https://crowducate.hackpad.com/Promotional-Video-qUxt7DvB4IZ)

Deliverables
---------------
* [ ] Concepts
* [ ] Outline
* [ ] Storyboard

_Copied from original issue: Crowducate/crowducate-next#100_

[2015-06-11 12:31] brylie opened #52 "Create Turi logo and outlook"
_From @brylie on March 23, 2015 8:52_

Create brand resources for Turi, including:
* [ ] Logo
* [ ] Color
* [ ] Typography
* [ ] Slogan

_Copied from original issue: Crowducate/crowducate-next#101_

[2015-06-11 12:31] brylie commented on #52
_From @JuusoV on March 23, 2015 14:31_

Inspiration for slogans: http://www.hongkiat.com/blog/77-catchy-and-creative-slogans/

[2015-06-11 12:32] brylie opened #53 "Research International funding sources for Open Education"
_From @brylie on March 23, 2015 9:20_

Find three or more funding sources, within Finland, who support Open Education.

Deliverable
--------------
Add those funding sources to the [Funding Crowducate](https://crowducate.hackpad.com/Funding-Crowducate-PjFr9bXZR0x)

_Copied from original issue: Crowducate/crowducate-next#104_

[2015-06-11 12:32] brylie opened #54 "Restructure "audit open-ed""
_From @Rahbaran on March 30, 2015 8:23_

Divided it into two parts (high level description + ux)

_Copied from original issue: Crowducate/crowducate-next#121_

[2015-06-11 12:32] brylie opened #55 "Research Tekes as possible funding source"
_From @brylie on April 7, 2015 10:44_

The following details will be helpful to find when researching potential funding sources.

* Website
* Mission Statement
* Types of projects funded
* Examples of previous projects funded
*Amount of funding available
* Funding limit for individual applicants
* Link to application instructions (or similar document)
* Application deadline or other important date

[2015-06-11 12:32] brylie commented on #55
_From @Laura-Sampo on April 7, 2015 11:38_

http://www.tekes.eu/horisontti-2020/perusteet/

[2015-06-11 12:32] brylie opened #56 "Research Rakennerahasto as possible funding source"
_From @brylie on April 7, 2015 10:45_

The following details will be helpful to find when researching potential funding sources.

* Website
* Mission Statement
* Types of projects funded
* Examples of previous projects funded
*Amount of funding available
* Funding limit for individual applicants
* Link to application instructions (or similar document)
* Application deadline or other important date

[2015-06-11 12:32] brylie opened #57 "Merge the repos part I"
_From @Rahbaran on April 10, 2015 13:10_

There are two main steps to merge the repos. More details here: https://crowducate.hackpad.com/Merging-the-two-repos-mvr1gHyMGF1

_Copied from original issue: Crowducate/crowducate-next#139_

[2015-06-11 12:32] brylie commented on #57
_From @Rahbaran on April 10, 2015 13:15_

@brylie: Do you think you can do part 1 (i.e., the merge "proper")? I assume your git/github skills are much much better than mine ;)

[2015-06-11 12:32] brylie commented on #57
Yes, I would like to consider code provenance a bit, after some
reflection. Would you consider with me the possibility of donating the
code to, and working on it under, a non-profit organization such as the
Open Knowledge Foundation? It would still have the same freedoms, but
might save us some politics.

In service,
Brylie Christopher Oxley

On 10.04.2015 16:15, Amir Rahbaran wrote:

[2015-06-11 12:32] brylie commented on #57
E.g. we can become part of the [Open Knowledge Network](https://okfn.org/get-involved/network-projects/).

[2015-06-11 12:32] brylie commented on #57
The main reason I suggest OKFN, is they have an [Open Education Working Group](http://education.okfn.org/).

[2015-06-11 12:32] brylie commented on #57
This issue was moved to Crowducate/crowducate-platform#43

[2015-06-11 12:33] brylie opened #58 "Course language field"
_From @brylie on February 24, 2015 14:12_

Add course language metadata field. Allow users to filter course based on language.

_Copied from original issue: Crowducate/crowducate-next#20_

[2015-06-11 12:34] brylie opened #59 "Create several default demonstration courses"
_From @brylie on February 24, 2015 14:14_

Create several 'seed' courses for fresh installations.

_Copied from original issue: Crowducate/crowducate-next#23_

[2015-06-11 12:34] brylie opened #60 "Default course creation language based on user selected language"
_From @brylie on February 24, 2015 14:14_

When creating a course, set the language option to the user's chosen language by default. User may select a different course/lesson language if needed.

_Copied from original issue: Crowducate/crowducate-next#22_

[2015-06-11 12:34] brylie opened #61 "Course editing auto-save"
_From @brylie on February 24, 2015 14:19_

Auto-save course edits during creation and update. This may require some cached session variable, in local storage for instance, to avoid excessive database activity.

_Copied from original issue: Crowducate/crowducate-next#24_

[2015-06-11 12:34] brylie opened #62 "Interactive math"
_From @brylie on February 24, 2015 14:20_

As a teacher,
I would like to display interactive math widgets to students
so that they can manipulate mathematical concepts

_Copied from original issue: Crowducate/crowducate-next#25_

[2015-06-11 12:34] brylie opened #63 "Course ratings"
_From @brylie on February 24, 2015 14:21_

Allow users to rate courses by some simple method.

E.g. thumbs up, stars, etc.

_Copied from original issue: Crowducate/crowducate-next#26_

[2015-06-11 12:34] brylie opened #64 "Course sort by rating/votes"
_From @brylie on February 24, 2015 14:22_

Allow users to sort courses by rating or votes.

_Copied from original issue: Crowducate/crowducate-next#27_

[2015-06-11 12:34] brylie opened #65 "Course estimated time consumption"
_From @brylie on February 24, 2015 14:22_

Track, or allow teachers to specify, estimated time it takes to complete courses.

_Copied from original issue: Crowducate/crowducate-next#28_

[2015-06-11 12:35] brylie opened #66 "Crop (or auto-crop) image uploads"
_From @brylie on February 24, 2015 14:36_

Consider what aspect ratio, and how to allow users to crop image uploads. Alternatively, this can be automated by the server.

E.g. course cover photos.

_Copied from original issue: Crowducate/crowducate-next#29_

[2015-06-11 12:35] brylie commented on #66
Related issue: #67

[2015-06-11 12:35] brylie opened #67 "Educational framework creation"
_From @brylie on February 24, 2015 14:37_

Allow users to create frameworks for educational pathways. Examples of educational frameworks include STEM (U.S.), Common Core (U.S.), Opetussuunnitelma (Finland), etc.

_Copied from original issue: Crowducate/crowducate-next#30_

[2015-06-11 12:35] brylie opened #68 "Allow course pages to contain mixed learning resources"
_From @brylie on February 24, 2015 14:40_

Courses can consist of multiple types of learning resources such as:

* lessons
* quizzes
* videos

Modularize the system to allow generic learning components to be mixed into a unified course view.

_Copied from original issue: Crowducate/crowducate-next#31_

[2015-06-11 12:35] brylie opened #69 "Create individual educational resource template"
_From @brylie on February 24, 2015 14:41_

Design templates and functionality for individual educational resources. E.g. single video, lesson, or other stand-alone educational resource.

These views can potentially be re-used in course displays, etc.

_Copied from original issue: Crowducate/crowducate-next#32_

[2015-06-11 12:36] brylie opened #70 "Design search page and User Experience"
_From @brylie on February 24, 2015 14:42_

Design search page. Consider user flow. How do the users choose various filters?

Tasks
-------

* [ ] Start design document, collecting design ideas
* [ ] Design wireframes to explore course discovery process
* [ ] Review wireframe designs to choose desired features, layout, etc
* [ ] Design second round of wireframe(s) based on initial feedback
* [ ] Re

[2015-06-11 12:36] brylie commented on #70
The package [matteodem:meteor-easy-search](https://github.com/matteodem/meteor-easy-search/) may be useful for this task.

[2015-06-11 12:36] brylie commented on #70
The package [meteorhacks:search-source](https://github.com/meteorhacks/search-source) has been recommended on the [Meteor discussion forum](https://forums.meteor.com/t/help-with-search-packages/1179).

[2015-06-11 12:36] brylie opened #71 "User discussions"
_From @brylie on February 24, 2015 14:44_

Consider how users will interact with one another.

* Can courses have discussion forums?
* Will there be separate discussions?
* How are discussions related to learning resources?

_Copied from original issue: Crowducate/crowducate-next#34_

[2015-06-11 12:36] brylie opened #72 "Presentation/slideshow"
_From @brylie on February 24, 2015 14:46_

As an educator
I want to display a series of slides to my students
so that I can design a lesson as a sequence of text/images

Consider:
* common slideshow formats
* HTML/JS slideshow creation

_Copied from original issue: Crowducate/crowducate-next#35_

[2015-06-11 12:36] brylie opened #73 "User points"
_From @brylie on February 24, 2015 14:47_

Consider how users can be rewarded for certain actions, via a points system.

_Copied from original issue: Crowducate/crowducate-next#36_

[2015-06-11 12:36] brylie opened #74 "File attachments"
_From @brylie on February 24, 2015 14:47_

As an educator
I want to attach a file to my course
So that my students can download the resource

Considerations:
* file size limits
* document formats

_Copied from original issue: Crowducate/crowducate-next#37_

[2015-06-11 12:37] brylie opened #75 "Guided tour"
_From @brylie on February 24, 2015 14:49_

As a new Crowducate user
I would like a guided tour of the interface
so that I can quickly learn how things work

Considerations:
* Interactive guided tour (e.g. via JavaScript)
* Video tutorial?
* Introductory course?

_Copied from original issue: Crowducate/crowducate-next#38_

[2015-06-11 12:37] brylie commented on #75
The [Meteor-tutorials](https://github.com/mizzao/meteor-tutorials) project may be a good solution for this user story.

[2015-06-11 12:37] brylie opened #76 "Education level metadata"
_From @brylie on February 24, 2015 14:51_

Add a metadata field to courses that allows teachers to specify approximate grade level for the course.

Considerations:
* Should this be applied at the 'resource' level?
* What standard grade levels to use?
* Should age-range be used?

_Copied from original issue: Crowducate/crowducate-next#39_

[2015-06-11 12:37] brylie opened #77 "Meetings"
_From @brylie on February 24, 2015 14:52_

As a user
I would like to meet with other users in real-time
so that we can discuss topics together

Considerations
* A/V functionality
* file sharing

_Copied from original issue: Crowducate/crowducate-next#40_

[2015-06-11 12:37] brylie opened #78 "Webinars"
_From @brylie on February 24, 2015 14:53_

As a teacher
I would like to give a live presentation to students via a webinar
so that they can have real-time learning experience

Considerations

* slideshow
* audio
* video
* chat

_Copied from original issue: Crowducate/crowducate-next#41_

[2015-06-11 12:37] brylie opened #79 "Video resource functionality"
_From @brylie on February 24, 2015 14:54_

As a teacher,
I would like to display educational video(s) in my course
so that I can engage learners with rich media

considerations
------------------
* Embedded player
* External video sources
* video uploads?
* Internet Archive backend?

_Copied from original issue: Crowducate/crowducate-next#42_

[2015-06-11 12:37] brylie commented on #79
Based on a bit of research, and after discussing with Chandra, we are considering how to harness the Internet Archive for storage, transcoding, and retrieval of open, educational videos. Specifically, the videos would be uploaded directly to the Internet Archive through the Crowducate UI, using [IA's S3 API](https://github.com/vmbrasseur/IAS3API), or something similar.

[2015-06-11 12:37] brylie commented on #79
The [slingshot](https://github.com/CulturalMe/meteor-slingshot) package provides an S3 interface that may be useful for the IArchive uploads.

[2015-06-11 12:37] brylie opened #80 "Summernote - embed video plugin"
_From @brylie on February 25, 2015 8:52_

User Story
--------------
As a teacher,
I want to display videos in my course materials
So that students are engaged by rich media

Task
-------
1. Install the Summernote video plugin.
2. Test the video plugin with YouTube, and at least one other provider.

_Copied from original issue: Crowducate/crowducate-next#48_

[2015-06-11 12:37] brylie commented on #80
I am having trouble getting the video button to display on the rich text editor:
https://github.com/summernote/summernote/issues/950

It may be that the video plugin is not installed as part of the **summernote:standalone** package.

[2015-06-11 12:37] brylie commented on #80
I have moved this to the backlog, as it is blocked. If/when I get any further updates, I may move it back to Ready or In Progress.

[2015-06-11 12:38] brylie opened #81 "Create terms of service document"
_From @brylie on February 25, 2015 8:58_

User Story
-------------
As a community builder
I want users to understand their rights and what is expected of them (rights and expectations)
so that our community will be safe and flourish

Tasks
-------
Look at examples of Terms of Service from other collaborative, open access communities. Find common aspects of those documents and combine them into a s

[2015-06-11 12:38] brylie opened #82 "Front page welcome message"
_From @brylie on February 25, 2015 9:20_

User Story
-------------
As a user,
I would like to know about a Crowducate deployment when visiting the front page
so that I can get an idea of the purpose

As an administrator
I would like to provide users with a brief text and/or video describing our Crowducate deployment
so that I can ease their transition into the community

Task(s)
---------
1. consi

[2015-06-11 12:38] brylie opened #83 "Keywords out of sync on seed course content"
_From @brylie on February 25, 2015 9:27_

On the Teach page, the Keywords dropdown is not loading keywords. This means the keyword suggestions feature is not working properly.

_Copied from original issue: Crowducate/crowducate-next#52_

[2015-06-11 12:38] brylie commented on #83
It turns out that the seed courses have keywords attached that are not added to the Tags collection. This means the collections (Courses and Tags) are out of sync. We need to ensure that these collections are in sync, specifically that any keyword attached to a course ends up in the Tags collection.

[2015-06-11 12:38] brylie opened #84 "Course feedback process"
_From @brylie on March 2, 2015 8:42_

User Story
--------------
As a teacher,
I would like to receive feedback about my course materials
so that I can increase the quality of the materials

Examples
-----------
Possible feedback can include

* Comments
* Ratings

_Copied from original issue: Crowducate/crowducate-next#57_

[2015-06-11 12:38] brylie opened #85 "License user flow design"
_From @brylie on March 2, 2015 9:12_

User Stories
---------------
As a content creator
I need to select a license for resources
so that other people can know their use permissions

As a content discoverer
I need to know what license a resource has
so that I know my use permisisons

Examples
------------
* Found items - a user selects the license from a dropdown menu
* Created items - the creator

[2015-06-11 12:38] brylie opened #86 "Real time collaboration"
_From @brylie on March 2, 2015 10:51_

User Story
-------------
As an educator,
I would like to collaborate with colleagues in real-time
so that we can work together on course materials in real time

Examples
-------------
* [ShareJS](https://github.com/mizzao/meteor-sharejs)

_Copied from original issue: Crowducate/crowducate-next#60_

[2015-06-11 12:38] brylie opened #87 "Plan Course Analytics functionality"
_From @brylie on March 5, 2015 7:26_

Allow creators to track the impact and outreach of their courses.

User Stories
---------------
As a creator
I would like to see statistics about my course usage
so that I know how often it is being used

Examples
------------
Some possibilities for course analytics include:

* Number of derivative works
* Number of shares
* Rate of completion/attrition
* Less

[2015-06-11 12:39] brylie opened #88 "Data Export"
_From @brylie on March 5, 2015 7:29_

Allow users to package course, and other, data in portable formats.

User Stories
---------------
As a teacher
I would like to package my course into a portable format
so that students can download the course materials

As an archivist
I would like to export the site content
so that I can archive it

As a creator
I would like to export my course
so that I can

[2015-06-11 12:39] brylie opened #89 "Audit Open Education collaboration landscape"
_From @brylie on March 5, 2015 7:41_

Audit the landscape of Online/Open Education providers, platforms, and collaboration tools. Document each discovery, listing strengths and weaknesses of each.

This document will serve as a guide for our planning process.

User Stories
---------------
[code]

[code]

Deliverable
--------------
* [Audit document](https://crowducate.hackpad.com/Open-Education-au

[2015-06-11 12:39] brylie opened #90 "Create API for access to Crowducate data"
_From @brylie on March 11, 2015 11:34_

Create an API allowing access to Crowducate data that developers can use in their applications.

User Story
-------------
[code]

[code]

_Copied from original issue: Crowducate/crowducate-next#72_

[2015-06-11 12:39] brylie commented on #90
Possible API package: [xcv58:meteor-CollectionAPI](https://github.com/xcv58/meteor-collectionapi)

[2015-06-11 12:39] brylie commented on #90
Also consider  [RESTivus](https://github.com/kahmali/meteor-restivus).

[2015-06-11 12:39] brylie opened #91 "Add SCORM export capabilities"
_From @brylie on March 11, 2015 11:35_

Allow people to easily bundle courses, and/or learning sequences, as SCORM bundles.

User Story
-------------
As an LMS host
I would like to export Crowducate courses in SCORM format
so that I may import them into my LMS

_Copied from original issue: Crowducate/crowducate-next#73_

[2015-06-11 12:39] brylie opened #92 "Refactor 'add' buttons to use single template"
_From @brylie on March 17, 2015 10:53_

There are several 'add' buttons on the course page, including 'add section', 'add lesson'. See if these buttons can be refactored to use one template, and adjust the parent template events to target the new button element.

This will simplify the translation process and possibly make the codebase easier to maintain.

User Stories
---------------
[code]
[code

[2015-06-11 12:39] brylie commented on #92
_From @sbe on March 26, 2015 11:51_

Running into problems with the parentData of the lesson event.

[2015-06-11 12:39] brylie commented on #92
We may need to refactor the course structure so that course sections are stored in their own collection. This would make it so that the parentData is no longer necessary.

[2015-06-11 12:39] brylie commented on #92
The package [Blaze Components](http://components.meteor.com/) may come in handy for tasks like this.

[2015-06-11 12:39] brylie opened #93 "Refactor course model: move sections to collection"
_From @brylie on March 23, 2015 7:25_

Sections in courses were designed poorly, in code. They are currently stored in the lesson object as an array or arrays:
[code]

Task
------
Refactor lessons to be stored in their own collection.

_Copied from original issue: Crowducate/crowducate-next#97_

[2015-06-11 12:39] brylie commented on #93
_From @Rahbaran on March 23, 2015 8:42_

Maybe I misunderstand this issue but I'm not sure if this is a good idea. Any learning platform has a kind of section (e.g. called 'stage' at treehouse, 'level' at codeschool or 'section' at udemy) to structure the courses. This is also helpful for gamification purposes as it gives the user a milestone resting point.

[2015-06-11 12:39] brylie commented on #93
I can see the benefit of resting point, e.g. Khan Academy also breaks long courses into sections.

Are we assuming that long courses are default? What about "[Microlearning](https://en.wikipedia.org/wiki/Microlearning)" courses?

I believe we should remove the current 'sections' model for two main reasons:

* User experience feedback
* Code maintenance / simplification

User experince
------------

[2015-06-11 12:39] brylie commented on #93
_From @Rahbaran on March 23, 2015 22:20_

How big is the sample of the user research? I’m asking because omitting levels/sections/steps (or whatever you call it) is a very atypical move as all the major players in the academic (edX, coursera, iVersity) and skill based (codecademy, duolingo, code.org, udemy) divide the content into groups. So, we really need some good data.

reg. Code simplificatio

[2015-06-11 12:39] brylie commented on #93
This refactoring might make issue #90 easier, as it is currently blocked by related difficulties. Specifically, course sections are currently stored inside of the course object, so it becomes necessary to use ´Template.parentData´ when saving new sections to the course object from sub-templates.

[2015-06-11 12:40] brylie opened #94 "Media package"
_From @brylie on March 23, 2015 7:50_

Create a media package for use in promotional situations.

Package could include:

* [Brief video](https://crowducate.hackpad.com/Promotional-Video-qUxt7DvB4IZ)
* Slideshow
* Project portfolio
* Project brief

User Stories
---------------
[code]

_Copied from original issue: Crowducate/crowducate-next#98_

[2015-06-11 12:40] brylie commented on #94
Juuso,
Need core media:

* logos, description, branding materials, etc.

[2015-06-11 12:40] brylie commented on #94
_From @JuusoV on March 23, 2015 8:38_

I believe this should be divided into smaller tasks:
    Brief video
    Slideshow
    Project portfolio
    Project brief

Good thing to also take into consideration is perhaps freelance someone to create graphics and branding material?

[2015-06-11 12:40] brylie commented on #94
_From @Rahbaran on March 23, 2015 8:52_

@JuusoV I can send you some slides from my pitches. They've passed some iterations from two juries. Just need your email address. Brylie has mine.

[2015-06-11 12:40] brylie commented on #94
I created a repository for [outreach materials](https://github.com/Crowducate/outreach-materials). The repository has a CreativeCommons license ([CC-by-SA](http://creativecommons.org/licenses/by-sa/4.0/)), so be sure you are comfortable releasing promotional materials under those terms.

[2015-06-11 12:40] brylie opened #95 "Research and contact possible funding partners"
_From @brylie on March 23, 2015 7:56_

Find three or more possible partner organizations who may fund Crowducate development. Document details about each organization, such as what types of projects they fund, budget, etc.. Send a letter of inqury to each organization, establishing contact and describing Crowducate.

User Stories
---------------
[code]

[code]

_Copied from original issue: Crowduc

[2015-06-11 12:40] brylie opened #96 "Create Business Model Canvas"
_From @brylie on April 20, 2015 11:31_

null

_Copied from original issue: Crowducate/crowducate-next#147_

[2015-06-11 12:40] brylie commented on #96
_From @Rahbaran on April 20, 2015 11:38_

I have a two canvasses here, created during two different startup weekends.

[2015-06-11 12:40] brylie commented on #96
Great :-) May we add them to Hackpad?

[2015-06-11 12:40] brylie commented on #96
_From @Rahbaran on April 20, 2015 20:16_

will do, I can't find them right now (not digitalized, yet). but i'm going to have a more thorough look tomorrow late evening.

[2015-06-11 12:40] brylie commented on #96
_From @Rahbaran on April 21, 2015 20:53_

not successful, yet. give me one more day.

[2015-06-11 12:40] brylie commented on #96
_From @Rahbaran on April 22, 2015 21:12_

I found our first bmc (developed at startup weekend berlin, end of 2013). Obviously, this was just an initial idea.

![businessmodel_canvas_crowducate](https://cloud.githubusercontent.com/assets/3035315/7285427/b443667e-e944-11e4-815d-2e1f4945f80a.jpg)

It might make more sense to use the lean canvas (a slight modification) which I also have here. We can d

[2015-06-11 12:40] brylie opened #97 "Research Ely-keskus as possible funding source"
_From @brylie on April 7, 2015 10:44_

null

_Copied from original issue: Crowducate/crowducate-next#131_

[2015-06-11 12:41] #93 closed

[2015-06-11 12:41] #80 closed

[2015-06-11 12:46] brylie commented on #92
This task is not needed for now, as the course template was refactored.

[2015-06-11 12:46] #92 closed

[2015-06-11 12:47] brylie commented on #89
We can close this issue, as significant effort was conducted to this end.

[2015-06-11 12:47] #89 closed

[2015-06-11 12:50] brylie commented on #61
This may have already been implemented by the bootstrap wysiwyg package.

[2015-06-11 12:50] #61 closed

[2015-06-11 12:55] brylie commented on #52
Not relevant.

[2015-06-11 12:55] #52 closed

[2015-06-11 12:57] brylie commented on #57
@Crowducate/development  This task is done. Please review to make sure all open issues have been migrated.

[2015-06-11 13:01] #47 closed

[2015-06-11 13:01] #44 closed

[2015-06-11 13:02] brylie commented on #42
@Crowducate/development please verify that all open tickets have been migrated from **crowducate-next** to **crowducate-platform**

[2015-06-11 13:11] #55 closed

[2015-06-11 13:11] #56 closed

[2015-06-11 13:11] #97 closed

[2015-06-11 13:15] brylie commented on #23
We are now conducting development in the [crowducate-platform:develop](https://github.com/Crowducate/crowducate-platform/tree/develop) branch. Closing this issue, as the 1.0 development started from scratch.

[2015-06-11 13:16] #23 closed

[2015-06-11 13:20] brylie commented on #10
Another idea is to have an undo delete button.

To this end, we can use the [Meteor Transactions](https://github.com/jackadams/meteor-transactions/) package.

[2015-06-11 13:24] #57 closed

[2015-06-11 20:38] Rahbaran commented on #57
All good, thanks for all the work! :+1:

[2015-06-23 16:28] dcsan opened #99 "-next?"
is this the repo for the old version? I'm confused, crowducate-next points back here, but then it says

is it still stuck in dev limbo?

[2015-06-23 16:39] Rahbaran commented on #99
the master branch is (still) the old version: we migrated -next to -platform/develop. so **use the develop branch from this repo**. the feature branches are also branches from the new -platform/develop branch. the -next-repo is obslete now. sorry for the confusion. we're working on it.

[2015-06-23 16:44] dcsan commented on #99
do does the new branch work?

you might wanna update the README then to make it clear how to get started

[2015-06-23 20:54] Rahbaran commented on #99
Just clone the development branch from THIS repo and run meteor - all good. The /features branches should also work. I updated the README. If it's ok, feel free to close the issue. Otherwise, let me know if you there are any questions. Of course, you can also edit the README if you like :)

[2015-06-24 05:38] dcsan commented on #99
i guess i could follow those instructions, but its so confusing and counter intuitive it would put me off trying. why not just `git clone` and then run? why mash two different versions of meteor into one repo?

[2015-06-24 05:38] dcsan commented on #99
closing because i guess you have your reasons that are non-technical.

[2015-06-24 06:24] Rahbaran commented on #99
Main reason was that for most people the master branch was a bit hard to understand + difficult to port from 0.8 to 1.0. So the code was written from scratch. However, the confusion is only temporary.

For the moment: run meteor on the development branch. That's it.

[2015-06-24 13:25] brylie commented on #99
I created a [1.0.0-a1](https://github.com/Crowducate/crowducate-platform/releases/tag/1.0.0-a1) release for people to download and test.

[2015-09-08 10:16] brylie opened #104 "Learn page shows no courses"
When clicking the Learn link to view the 'learn' page, there are no courses displayed.

[2015-09-08 10:39] brylie opened #106 "Design and implement course category feature"
On the Learn page, all course cards are showing links to 'Mathematics\* with an HREF of '#'. Replace the placeholder categories with actual course categories feature.
# Definition of done
- [ ] Teach page contains course category field
- [ ] **optional**  Course schema exists with category field
- [ ] Course category field contains a pre-defined selection of course categories
- [ ] When selecting

[2015-09-08 10:50] brylie opened #107 "Course cover image not rendering"
On develop branch when viewing the Learn page, Course cover images are not rendering.

[2015-09-08 10:51] brylie commented on #107
@elnzv what is the status of the course cover image feature?

[2015-09-08 10:52] brylie opened #108 "Course category page"
Design a page to show all courses in a given category.

[2015-09-08 10:58] brylie commented on #107
This may be a false report, as I am now seeing course cover photos on my local instance. Please double-check.

[2015-09-08 11:12] brylie opened #109 "Course lesson title edit not working in content area"
# Observed behavior

When editing a course lesson title, via the inline editor in the content area, the changes are not saved.
# Expected behavior

Updates to the course title, made via the content area inline editor, should save to the database.

[2015-09-08 11:18] sebbel commented on #109
Which branch are we talking about here? The develop branch?

[2015-09-08 11:19] sebbel commented on #104
Solved with Pull Request #105

[2015-09-08 11:19] #104 closed, assigned to nobody

[2015-09-08 11:21] brylie commented on #109
Yep. Basically, editing the lesson title via the sidebar works, but not the main lesson section.

[2015-09-08 11:22] brylie commented on #109
It turns out to be a small fix, so I will have a PR shortly.

[2015-09-08 11:25] brylie opened #110 "Add Meteor Polymer to project"
As part of the design goal to componentize the user interface, including learning components, we will consider using WebComponents. To this end, we can use the [Polymer project](https://www.polymer-project.org/) now, and start building re-usable components in our UI. Also, since we are considering using Material Design principles, the [Polymer Paper elements](https://elements.polymer-project.org/b

[2015-09-08 11:28] sebbel opened #111 "Resize Course Pictures for Thumbnails for Profilepage"
# User story

[code]
# Definition of done
- [ ] Determine how to resize course images
  - [ ] Client-side resizing option(s)
  - [ ] Server-side resizing option(s)
- [ ] Decide best resizing method for related user story
- [ ] Determine how many image sizes should be generated from the original
- [ ] Implement chosen resize strategy

[2015-09-08 11:29] brylie commented on #110
@elnzv what is your experience with WebComponents? Would you please consider taking this task?

[2015-09-08 17:15] sebbel commented on #109
When I press the "Edit Course" button, nothing happens.
tested on branch develop
Chrome
Firefox

[2015-09-08 20:14] Rahbaran commented on #109
Same here. Tested on develop branch and feature/course-lesson-title-editable.

[2015-09-09 04:52] brylie commented on #109
Please open a separate issue for this bug. It may have been resolved recently, but lets track it separately.

On 8 September 2015 23:14:01 EEST, Amir Rahbaran notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-09-10 04:38] sebbel opened #113 "A click on Edit Course yields no effect"
On develop branch when clicked on a course, I cannot use the Edit-Course Button. Nothing happens.
Being logged in or logged out yields the same result.

![crowducate](https://cloud.githubusercontent.com/assets/1940568/9780228/778e6db8-5786-11e5-9162-5eb34443caed.gif)

[2015-09-10 05:17] sebbel commented on #109
Opened #113

[2015-09-10 09:50] sebbel commented on #113
**Session.set('editingCourseID', this._id);** inside https://github.com/Crowducate/crowducate-platform/blob/develop/client/templates/course/toolbar/edit-course.js seems to be the offending line.
this._id is empty, thus not triggering the desired effect. Still working on a workaround and waiting if you get the same error, @brylie

[2015-09-10 12:03] sebbel commented on #113
Apparently the whole "Add Lesson, Add Section" functionality is broken. I've successfully repaired the edit-course button with a dirty hack(https://gist.github.com/sbe/0d976ba5526d368c24d4), but I cannot add a section.

[2015-09-10 15:29] 55 commented on #110
@brylie I don't have any experience with WebComponents.
I can take this task if it fits next or any other future sprints.

[2015-09-10 22:05] 55 commented on #107
Tested on develop; course cover images are not rendering.

[2015-09-10 22:33] sebbel commented on #107
I can confirm. Images are not rendering on develop.

[2015-09-11 08:39] brylie opened #115 "Remove duplicate editingThisCourse helpers"
There are several template helpers named `editingThisCourse` having exactly the same logic, but located in different templates. This is redundant and may be error prone. Determine how to refactor the course template, so that only one `editingThisCourse` helper is necessary.

[2015-09-11 08:41] brylie commented on #113
I have opened a pull request (#114) that resolves this issue.

[2015-09-11 08:41] brylie commented on #109
See PR #114 for a resolution to this issue and #113.

[2015-09-11 09:49] sebbel commented on #113
solved by #114

[2015-09-11 09:49] #113 closed, assigned to nobody

[2015-09-11 10:04] brylie commented on #36
I am closing this issue, since we have added an i18n platform and translated the UI into [four languages (in addition to English)](https://github.com/Crowducate/crowducate-platform/blob/develop/server/mfAll.js).

Any subsequent translation efforts should be tracked in separate issue(s).

[2015-09-11 10:04] #36 closed

[2015-09-11 10:06] brylie commented on #43
The repositories have been merged.

[2015-09-11 10:06] #43 closed

[2015-09-11 10:07] brylie commented on #42
The issues have been migrated.

[2015-09-11 10:07] #42 closed

[2015-09-11 10:19] Rahbaran commented on #36
@mhshakouri Here's the whole translation in a Google Doc. Might move to Hackpad soon.
https://docs.google.com/spreadsheets/d/1h-OpSpqIb-mIv21hI0c6dAbJr0AGSfmfkNJCnZA3Q6I

[2015-09-11 10:33] Rahbaran commented on #13
Outdated issue. Dev Branch is already in Meteor 1.x.

[2015-09-11 10:33] #13 closed

[2015-09-13 17:40] sebbel opened #117 "Default Branch"
Change default branch to develop, so the changes to develop branch get shown on the main page of the repo and repo appears as active as it is.

[2015-09-13 17:41] sebbel commented on #110
Is there an official package for polymer available?

[2015-09-14 07:32] Rahbaran commented on #117
yes, that's a good idea. @brylie ?

[2015-09-14 07:46] brylie commented on #117
Sounds good to me.

On 14.09.2015 10:32, Amir Rahbaran wrote:

##

Brylie Christopher Oxley

[2015-09-14 07:51] Rahbaran commented on #117
Great, changed it.

[2015-09-14 07:51] #117 closed, assigned to nobody

[2015-09-14 07:51] sebbel commented on #117
Wonderful!

Am Montag, 14. September 2015 schrieb Amir Rahbaran :

[2015-09-14 12:33] brylie commented on #110
It seems like the version of Polymer that I linked to in the description is the best option.

[2015-09-14 12:35] brylie commented on #110
There are several pressing issues for the [1.0](https://github.com/Crowducate/crowducate-platform/milestones/1.0) release, so this is not top priority. We can focus on this task for version [1.1](https://github.com/Crowducate/crowducate-platform/milestones/1.1).

[2015-09-15 06:57] sebbel opened #118 "Language of the site should be determined by the language field of the user, if logged in"
As a user, I would like my language settings that I have set in the profile page to have effect on the site and be remembered for my continued use of the site.

[2015-09-15 08:36] brylie commented on #118
Please describe this issue. Add one or more user stories in the form of:

[code]

We can discuss implementation details, such as how to integrate with our l10n solution.

[2015-09-15 11:28] brylie commented on #110
Hey all. The Polymer Summit live stream continues in ten minutes with the session "Adaptive UI with Material Design and Paper Elements":
https://www.polymer-project.org/summit

[2015-09-15 16:06] sebbel commented on #110
I missed it, will there be a recording?

[2015-09-15 18:37] Rahbaran commented on #110
@sbe: click on the link, then you'll see the recorded version.

[2015-10-02 14:05] brylie opened #119 "Remove insecure and test application functionality"
Our project has insecure enabled. This has helped us to quickly build the platform, but needs to be removed prior to the 1.0 release.
## Task
- [ ] Remove the insecure package and ensure the application works as expected.
- [ ] Add issues for any breaking features when insecure is removed.
  - [ ]  Add any open issues to the 1.0 milestone.

[2015-11-26 11:36] sebbel opened #121 "No Link on 'Course Info'"
Steps:
1. Click the "Learn" Link from the navigation
2. Click on any course to open it.
3.  When clicking on "Course Info", nothing happens. There should atleast be any sort of action.

Discuss how to handle the Course Info button.

[2015-11-26 11:39] sebbel opened #122 "Use autoform for course-creation"
Currently the courses are created by manual input fields.

**As a developer, I would like to use Autoform to create the input fields for a new course, so I can enforce Rules and Limits for the content.**

[2015-11-26 11:42] sebbel opened #123 "Refactor the course-editing functionality"
Currently the course-editing functionality spans over a multitude of files.

**As a developer I would like to see features grouped up in a simple fashion so the edits will only be necessary for a managable number of files.**

[2015-11-26 11:43] sebbel opened #124 "Update Meteor and all packages to the current version"
**As a developer, I would like to use the current version of all packages and of meteor so I have access to the latest functions and features.**

Please do this ASAP, before the gap gets too big.

[2015-11-26 11:45] sebbel opened #125 "Find out what the folder "newLayouts" is about"
Currently there is a folder inside the crowducate project in /client/templates named "newLayouts"

As a developer I would like to know what purpose folders have and what they do. Please find out what the newLayouts folder is about and rename it to suit its purpose.

[2015-11-26 11:46] sebbel opened #126 "Enhance lesson/section editor with a tutorial"
Currently there is not a clear tutorial or way for a user to see how to create and enhance his own courses.

**As a user, I would like to know what I am doing and not find out features by clicking buttons.**

Please supply means of a tutorial or labels to guide the user experience.

[2015-11-26 12:04] brylie commented on #125
@elnzv, what is the status of this folder? If I recall correctly, we were prototyping new layouts in this folder. We have since started a design-driven approach where we create SVG wireframes before writing HTML.

[2015-11-26 14:36] sebbel opened #127 "Check the functionality of the Persian Translation"
Currently the persian translations don't seem to work.

As a developer, I would like to know if non-working translations are due to a program-error or due to unicode or browser capabilities.

Please check on several browsers and branches if you can view the persian translation.

[2015-11-26 14:36] sebbel commented on #127
@Rahbaran Would you be willing to take this task?

[2015-11-26 18:41] sebbel opened #129 "Enhance the current internationalization of the project"
Currently not all text is embedded in the mf syntax to provide a way to translate.

**As a translator, I would like to have all text elements inside the project available to me so I can translate them into my language.**

Please use the messageFormat syntax wherever a Text-Element might be and make it available to translation.

[2015-11-26 18:44] sebbel commented on #124
I have made progress with testing crowducate for 1.2.1,
there are no breaking changes and the application behaves like it should.
I will push a branch for testing and have it merged asap.

Also this issue should have precedence before the rest of all issues.

[2015-11-26 18:45] sebbel commented on #107
@Crowducate/development I need some help grasping the idea behind the cover image of the courses. Would it make sense to replace it with a meteor package? or is there already a package in place?

[2015-11-26 18:48] sebbel commented on #127
fixed via 07443db2347ca478c32dbbcbae80239928111d10

[2015-11-26 18:49] #127 closed, assigned to Rahbaran

[2015-11-26 18:49] sebbel commented on #106
I will take this task

[2015-11-26 18:52] sebbel opened #130 "bithound & codeclimate still pointing to crowducate-next"
@Rahbaran Do you have rights to change this to platform?

Additionally, we need to discuss what's the point in having these?

[2015-11-27 06:49] 55 commented on #125
@brylie, correct.
I think we can safely delete this folder.

[2015-11-27 09:43] sebbel commented on #125
@brylie I am interested about the svg designing approach.
I will delete the folder off develop for now.

[2015-11-27 09:45] #125 closed, assigned to nobody

[2015-11-27 09:47] sebbel commented on #130
Are there any updates, @Rahbaran? Can I change them myself?

[2015-11-27 09:47] sebbel commented on #122
related #123

[2015-11-27 09:48] sebbel commented on #121
@brylie was there functionality behind the Course Info link? I cannot remember tbh.

[2015-11-27 09:49] sebbel commented on #119
@Rahbaran suggested to move this into the future, but I insist that we change this feature before we go online with a live version.

[2015-11-27 09:49] sebbel commented on #115
related to #123

[2015-11-27 09:57] sebbel opened #131 "Make Crowducate friendlier to new coders and people willing to contribute"
As first efforts, I have created a CONTRIBUTING.MD in the project root. 2642ef601c3b3285895da0e4f162e6eba0ae33a4

This file should be populated with instructions on how to get involved and maybe also a showcase with issues that can be solved by new guys.

On top of that I would propose that we create a new label named: "Newbie Tasks" which we will keep small and simple so anyone who has got time a

[2015-11-27 09:58] sebbel commented on #131
As a plus, we should add a Link to the Contributing.md to our README.md at the top so people can find it asap.

[2015-11-27 11:43] Rahbaran commented on #130
Please ask @brylie. I guess you can change it.

[2015-11-27 14:25] sebbel opened #133 "Implement an avatar feature for the profile site"
Currently there is a profile picture placeholder on the profile page.
Please implement a way to change the profile picture on the settings page and find a way to display a default picture if none is chosen yet.

**As a user, I would like to display an avatar that I can identify with.**

[2015-11-27 14:27] sebbel commented on #131
I have just now created a new Label: "For Beginners"

[2015-11-27 14:29] sebbel opened #134 "Check for unused Labels"
Currently there are certain Labels whose reason for being is not specified.
Please review the labels not in use and delete them or clarify their meaning.

**As a project maintainer, I want to have a sparse and concise selection of labels to avoid ambivalence.**

[2015-11-27 14:30] sebbel commented on #134
Labels in question:
wontfix, invalid. duplicate

[2015-11-27 14:33] sebbel opened #135 "Send an activation email for users"
Currently people can register with any email they prefer. This would leave some space for erroneus emails, where users cannot recover their account, because they entered a false email.

Please implement a mailing system to ensure that people are the owner of emails they are registering with.

**As a user, I would like to have a safety-net which prohibits me from entering a false email, that I don'

[2015-11-27 14:37] sebbel commented on #124
I have issued a Pull Request #132

@Crowducate/development Please review and merge.

[2015-11-27 14:40] sebbel commented on #118
When I open up the crowducate webpage, the language is automatically set to german. I am guessing that a browser setting is overriding the locale settings of the messageformat package.

We might need to think about a way how to cope with this situation. It's not a bad thing for the browser to select the local language automatically.

[2015-11-27 14:47] sebbel opened #136 "Check if it's worth to use travis-ci"
**As a developer, I would like a third party to check if my code that I am supplying is running without errors.**

Travis-CI would be a way to check for build errors on pull requests etc- automatically.

Please check the possibility of using travis-ci with crowducate

[2015-11-27 14:51] sebbel opened #137 "Implement tests for crowducate"
Related #136

Currently there are no tests for the crowducate software. With tests (or Test Driven Development) it would be easier to implement features and spot bugs, that might be hidden.

**As a developer, I would like to write tests and test my application against them to ensure the functionality of the software's features**

[2015-11-27 14:56] sebbel commented on #137
Tasks
- [ ] Find a testing framework
- [ ] Identify sub-parts and divide the project in several of those sub-parts
- [ ] Create an Issue for each sub-part and implement tests for that sub-part.

Candidates for test suits:
- TinyTest
- Velocity
- ...

[2015-11-30 13:17] Rahbaran commented on #124
Merged! Thx @sbe!

[2015-11-30 13:17] #124 closed, assigned to sebbel

[2015-12-01 09:45] aexonicarindam opened #138 "crowducate-platform clone issue"
I have cloned crowducate-platform from github. But I am getting old version of crowducate-platform.
http://quiz-aexonic.herokuapp.com/

There are any possibility to get http://crowducate.me/.

[2015-12-01 10:11] 55 commented on #121
@sbe, description of a course, i.g. hours, description text, about author, etc.
I think, we can remove it or comment for now.

[2015-12-01 10:12] brylie commented on #138
The version running at quiz-aexonic.heroluapp.com is the currennt version of Crowducate.

The original version is no longer maintained, but [can still be downloaded](https://github.com/Crowducate/crowducate-platform/tree/1fb457e8ac7a2c8a28bc9618d96e74c76867609f).

[2015-12-01 10:13] sebbel commented on #138
Hello aexonicarindam!

Thanks your interest in crowducate. It is a bit confusing I must admit. We
are currently rebuilding crowducate from the ground up and the version you
have deployed to your heroku is in fact the current version. We are in
great haste to add all the features from crowducate.me into the new version.

In the meantime, if you want to access the version that is running on
crowduca

[2015-12-01 10:24] aexonicarindam commented on #138
Hello Sbe,
   Please give me the branch url for crowducate.me's running version.

[2015-12-01 10:52] sebbel commented on #138
I'm not so sure what you mean? You can either download the old, unmaintained version by clicking the link brylie has supplied or you can do git checkout master on the cloned version on your heroku (i think)

[2015-12-01 10:54] aexonicarindam commented on #138
I am asking you that can I use running version of crowducate.me ??
If I then where will be available the running version of crowducate.me ??

[2015-12-01 11:16] aexonicarindam commented on #138
Hello Sbe & Brylie,
  Can you tell me, when we can userunning version of crowducate.me ?
When are you uploaded the latest version of crowducate ?

[2015-12-01 11:46] Rahbaran commented on #138
@aexonicarindam: The branch of "crowducate.me" is the **master** branch.
1. Click on the link which Brylie provided
2. Read the read.me (most important part of read.me: use meteor 0.80)
3. in the upper right of the link, there's the "download zip" button

 let us know if this helped.

[2015-12-01 11:48] aexonicarindam commented on #138
Thanks.

[2015-12-01 11:48] #138 closed, assigned to nobody

[2015-12-01 22:44] sebbel opened #139 "add Package: audit-argument-checks to the Project"
As a Developer, I would like to audit my project to see if there are any ways to insert malicious data into the database.

[2015-12-08 22:09] Rahbaran commented on #50
This is a little mock-up how the quiz functionality can be added independently from a lesson. The "ADD Quiz" button in the lower left is new.

![add-quiz-mockup](https://cloud.githubusercontent.com/assets/3035315/11670158/a55d0cfc-9e00-11e5-8918-dbc4241b7409.png)

[2015-12-09 07:56] Rahbaran commented on #131
Great, idea! I'll take care of it.

[2015-12-09 08:11] Rahbaran opened #140 "Define who is allowed to collaborate on a course"
As a course creator I want to add collaborators to a created course of mine so we can work together on my created course.
1. Define the user who created a new course, as a course creator. Only this person can edit the course.
2. Let her / him add other users as collaborators who can now edit the course, too.

[2015-12-09 08:13] Rahbaran commented on #140
I also put it in the ready col on waffle: https://waffle.io/Crowducate/crowducate-platform

[2015-12-14 09:24] Rahbaran commented on #50
@zeala would like to tackle this issue and #32. The waffle board is indicating it, now: https://waffle.io/Crowducate/crowducate-platform

[2015-12-14 09:52] brylie commented on #50
@Rahbaran looks great! Should we assign @zeala to this task? I am available for mentorship and pair programming.

[2015-12-14 10:29] Rahbaran commented on #50
@brylie: I tried to but as she she's not part of the GitHub-team, it didn't work. She's going to send a pull request from a fork if I understood it it correctly.

[2015-12-19 19:51] samuelandert opened #141 "UI / UX Redesign"
I was playing a little bit with Semantic UI as a Frontend Framework and quite enjoyed the simplicity and intuitiv use of it. Are there at the moment any ongoing UI plans, where it would make sense to switch to semantic-ui?

[2015-12-19 21:21] sebbel commented on #141
In UX terms, we have planned to use Polymer in the future #110. On top of that Crowducate is built in bootstrap. Could you elaborate on how semantic-ui would help crowducate ui development? I am not against doing a new branch and checking semantic-ui out.

[2015-12-19 21:30] samuelandert commented on #141
It would be exchanged with bootstrap for more intuitive semantic classes.
As for integration with polymer, this is the latest conversations I have found:
https://www.bountysource.com/issues/8943913-how-s-it-going-about-polymer-with-semantic-ui

[2015-12-20 10:45] brylie commented on #141
We can switch to Semantic UI, but need to make sure there are integrations with some Meteor packages, such as AutoForm. Also, the idea of using Polymer is to start building the UI using WebComponents. Either Bootstrap or Semantic UI should be fine with web components.

[2015-12-20 18:15] dcsan commented on #141
if you're still using Blaze, you should consider a port to reactJS first before messing with the CSS.

btw material-ui seems to work very well with react
http://www.material-ui.com/#/

and I think bootstrap 4 is around the corner?
http://v4-alpha.getbootstrap.com/migration/

[2015-12-21 09:24] brylie commented on #141
I would rather wait until Blaze 2 ships before dedicating to a React rewrite. I would like to see how the Meteor core developers handle templating in Blaze 2.

In any case, we can determine how to re-organize the Crowducate code in a single direction dataflow.

[2016-01-06 16:19] Saumik opened #143 "The tags donot display a list of courses with the given tag"
I just set up the latest version of crowducate-platform on my mac. Tried to add a tag "cartoon", and created multiple courses with the tag. But, the link [http://localhost:3000/tag/cartoon] is empty.

[2016-01-06 17:32] sebbel commented on #143
Hej @Saumik,
Thanks for trying out crowducate :)
The tag feature is currently broken as stated in #106. The tags arrive in the respecting mongo document, but are not properly shown on the frontpage.
I will have it as a priority task for this weekend.

If you know how to fix it yourself, feel free to submit a pull request :)

[2016-01-14 14:55] sebbel commented on #143
Haven't gotten around to take a look at it.

[2016-01-23 20:25] sebbel commented on #143
Started work on this via #144

[2016-01-29 09:39] sebbel commented on #143
hey @Saumik, we have fixed the tags feature. It should work as expected now :)

[2016-01-29 09:39] #143 closed, assigned to nobody

[2016-01-29 17:16] sebbel commented on #106
This Issue needs to be rephrased, as we are dealing with categorys, not tags.

[2016-01-30 12:06] Rahbaran commented on #134
@sebbel: maybe @brylie knows more about it?

[2016-02-01 07:29] brylie commented on #134
The labels are used for backlog management/pruning. Specifically,
- wontfix - used for feature requests or bug reports that will not receive attention. E.g. a 'bug' report that is actually how the feature is designed to function, or an enhancement request that is contrary to the goals of the platform
- invalid - used to indicate that an issue is not relevant to the project
- duplicate - used to in

[2016-02-01 07:33] brylie commented on #106
I have changed the title and added a description of the task requirements.

[2016-02-01 07:36] sebbel commented on #106
Thanks @brylie

Am Montag, 1. Februar 2016 schrieb Brylie Christopher Oxley :

[2016-03-01 07:34] DexingGong opened #145 "Hello,Test"
Just For test

[2016-03-01 07:34] DexingGong commented on #145
hello world

[2016-03-01 07:47] brylie commented on #145
It works :-)

[2016-03-01 07:47] #145 closed, assigned to nobody

[2016-05-09 23:07] azizur commented on #141
As far as am aware there is not going to be a Blaze 2. So ReactJS is the way to go forward.